<% address_id = address_type.chars.first %>
<% country_id = address_type == 'billing' ? 'bcountry' : 'scountry' %>
<% ADDRESS_FIELDS.each do |field| %>
  <% if field == "country" %>

    <div class="form-group" id=<%="#{address_id}country" %>>
      <span id=<%="#{address_id}country-selection" %>>
        <%= address_form.collection_select :country_id, available_countries, :id, :name, {}, {:class => 'form-control required'} %>
      </span>

    </div>

  <% elsif field == "state" && Spree::Config[:address_requires_state] %>

    <div class="form-group" id=<%="#{address_id}state" %> >
      <% have_states = !address.country.states.empty? %>

      <%= address_form.collection_select(:state_id, address.country.states,
                            :id, :name, {:prompt => "State"},
                            {:class => 'form-control ' + (have_states ? 'required' : 'hidden'),
                            :disabled => !have_states }) %>
                            
      <%= address_form.text_field(:state_name,
                            :class => 'form-control ' + (!have_states ? 'required' : 'hidden'),
                            :disabled => have_states) %>
    </div>
      <noscript>
        <%= address_form.text_field :state_name, :class => 'required' %>
      </noscript>

  <% else %>
    <% next if field == "company" && !Spree::Config[:company] %>
    <div class="form-group">
      <%= address_field(address_form, field.to_sym, address_name) %>
    </div>
  <% end %>
<% end %>
<% if Spree::Config["alternative_#{address_name[0] == 'b' ? 'billing' : 'shipping'}_phone"] %>
  <%= address_field(address_form, :alternative_phone, address_name) %>
<% end %>
